<table id="email-footer" border="0" width="100%" cellpadding="0" cellspacing="0" class="table-wrap footer-table ios-footer">
  <tbody><tr>
    <td align="center">
      <table border="0" width="100%" cellpadding="0" cellspacing="0" class="container table-content">
        <tbody>
        <tr>
          <td><a href="javascript:void(0);" class="unsubscribe">Unsubscribe</a></td>
        </tr>
        <tr>
          <td>
            Your Company. 1234 Road St Washington, DC 23313
          </td>
        </tr>
        </tbody></table>
      <br/>
    </td>
  </tr>
  </tbody>
</table>