<div class="wrap">
  <link rel="stylesheet" href="templates/style.css"/>
  <div class="container">

    <div class="header" editable="logo">
      <h2>
        Your Logo
      </h2>
    </div>

    <div>

      <div  class="content" cs-editable="main" cs-format="bold,italic,underline,justifyLeft,justifyRight,justifyCenter,placeholder,link">
        <h2 class="promo-text">
          Trending in Sports
        </h2>

        <img src="images/placeholder.png" alt="" class="placeholder" cs-placeholder />

        <p>Vis at admodum epicurei honestatis. Eam ea noluisse intellegat pertinacia. Pri semper regione voluptua ea, ne has aliquip virtute. Eu sea veniam volumus omittantur, soleat ponderum argumentum cu usu, nam ut nostrud admodum pritncipes.</p>

        <ul>
          <li>Bullet 1</li>
          <li>Bullet 2</li>
          <li>Bullet 3</li>
        </ul>

        <img src="images/placeholder.png" alt="" class="placeholder" cs-placeholder />
      </div>

      <div class="content">
        <a href="" class="button" cs-editable="button" cs-format="bold,italic" cs-button>
          Click Here To Enter
        </a>
      </div>
    </div>

    <div class="partners-wrap" cs-editable="partners" cs-format="bold,italic,underline,justifyLeft,justifyCenter,justifyRight">
      <p class="with">In partnership with:</p>
      <div class="partners">
        <a href="">AngularJS</a>
        <a href="">GruntJS</a>
        <a href="">NodeJS</a>
      </div>
    </div>

  </div>
</div>