<link rel="stylesheet" href="templates/style.css"/>
<div class="container">

  <div class="header" editable="logo">
    <h2 class="logo-text">Your Logo</h2>
  </div>

  <div class="content">

    <div editable="main" format="bold,italic,underline,justifyLeft,justifyRight,justifyCenter,link">
      <h2 class="promo-text">
        Trending in Sports
      </h2>

      <img src="images/placeholder.png" alt="" class="placeholder" />

      <p>Vis at admodum epicurei honestatis. Eam ea noluisse intellegat pertinacia. Pri semper regione voluptua ea, ne has aliquip virtute. Eu sea veniam volumus omittantur, soleat ponderum argumentum cu usu, nam ut nostrud admodum pritncipes.</p>

      <ul>
        <li>Bullet 1</li>
        <li>Bullet 2</li>
        <li>Bullet 3</li>
      </ul>
    </div>

    <a href="" class="button" editable="button" format="bold,italic" popover="button:1">
      Click Here To Enter
    </a>
  </div>

  <div class="partners-wrap" editable="partners" format="bold,italic,underline,justifyLeft,justifyCenter,justifyRight">
    <p class="with">In partnership with:</p>
    <div class="partners">
      <a href="">AngularJS</a>
      <a href="">GruntJS</a>
      <a href="">NodeJS</a>
    </div>
  </div>

  <div class="footer" editable="footer" format="bold,italic,underline,justifyLeft,justifyRight,justifyCenter">
    <div class="actions">
      <a href="">View In Browser</a>
      <a href="">Unsubscribe</a>
    </div>
    <p>Company , LLC. 1234 Street Rd Washington, DC 12345</p>
  </div>

</div>