$bg: #f2f2f2;


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix {
    display: inline-block;
}
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}


body {
    background-color: $bg;
    padding: 50px;
    font-family: 'Helvetica Neue';
}

[contenteditable="true"] {
    &:focus {
        outline:none;
    }
}

.container.btns {
    background-color: $bg;
}

.container {
    width: 700px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid #f3f3f3;

    .header,
    .content,
    .footer {
        padding: 0 20px;
        position:relative;
    }

    .header {
        background-color: #333;
        padding: 0 20px;
        color: white;
        h1, h2, h3, h4, h5, h6 {
            margin: 0;
            padding: 20px 0;
        }
    }

    .content {
        font-weight: 200;
        padding: 10px 20px;
        textarea {
            width: 100%;
            height: 50px;
            border: 1px solid lightgray;
        }
    }

    img {
        width: 100%;
    }

    .footer {
        font-weight:200;
        color: #939393;
        text-align:center;
        padding: 20px 0;
        font-size: 11px;
        background-color: #e8e8e8;
    }
}

.e50-editor {

    .toggle {
        position:absolute;
        top: 0px;
        left: 0px;
        font-size: 12px;
        text-decoration: none;
        color: #333;
    }

    .format-buttons {
//        position:absolute;
//        top: -6px;
//        left: 18px;
    }

    .live-editor {
        &.drag-enter {
            img.placeholder:hover {
                opacity: 0.8;
            }
        }
    }

}

.group {
//    background-color: white;
//    position:fixed;
//    top: 10px;
//    z-index: 10;
}

.debug {
    position:fixed;
    width:250px;
    left: 50px;
    top: 50px;
    pre {
        width: 100%;
    }
}

textarea {
    width: 99%;
    height: 250px;
    border: 1px solid lightgray;
}

.header {
    .toggle {
        color: white;
    }
}

.show-html {
    color: #333;
    text-decoration: none;
    background-color: lightgray;
    padding: 10px;
    font-weight: 200;
    &:hover {
        background-color: darken(lightgray, 5%);
    }
}

.toggle {
    float:left;
}

.format-button,
.toggle {
    color: #fafafa;
    border: 0px;
    border-radius: 0px;
    padding: 5px 10px;
    background-color: #666666;
    text-transform: uppercase;
    margin-right: 1px;
    -webkit-transition: all linear 0.1s;
    transition: all linear 0.1s;
    &:focus {
        outline: none;
    }
    &:hover {
        cursor: pointer;
    }
    &.active {
        background-color: #00aeef;
    }
}

iframe {
    width: 100%;
    border: 2px solid lightgray;
}