<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>E50 Editor</title>
  
  <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="demo.css"/>
  
  <script src="../bower_components/jquery/dist/jquery.js"></script>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/textAngular/src/textAngular.js"></script>
  <script src="../bower_components/textAngular/src/textAngularSetup.js"></script>
  <script src="../bower_components/textAngular/src/textAngular-sanitize.js"></script>
  
  <script src="../dist/e50-editor.js"></script>

  <script src="main.js"></script>
</head>
<body ng-app="app">

  <div contenteditable="true">Editable</div>

  <div class="container" ng-controller="MainCtrl">
    <div e50-editor ng-model="headerHtml" e50-tools="[['h1','h2', 'h3', 'h4', 'h5']]" class="header">
      <h3>Initial html</h3>
    </div>
    <div e50-editor ng-model="contentHtml" e50-tools="[['bold', 'italic', 'underline', 'justifyLeft', 'justifyCenter', 'justifyRight', 'placeholder']]" class="content"></div>
    <div e50-editor ng-model="footerHtml" e50-tools="[['bold', 'italic', 'underline', 'justifyLeft', 'justifyCenter', 'justifyRight']]" class="footer"></div>
  </div>

  <script src="http://localhost:1337/livereload.js"></script>

</body>
</html>