<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>E50 Editor</title>
  
  <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="demo.css"/>
  
  <script src="../bower_components/jquery/dist/jquery.js"></script>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/textAngular/src/textAngular.js"></script>
  <script src="../bower_components/textAngular/src/textAngularSetup.js"></script>
  <script src="../bower_components/textAngular/src/textAngular-sanitize.js"></script>
  
  <script src="../dist/e50-editor.js"></script>

  <script src="main.js"></script>
</head>
<body ng-app="app">

  <div ng-controller="MainCtrl">
    <p style="text-align:center;">
      <a href="" ng-click="showHtml=!showHtml" class="show-html">Show {{showHtml ? 'live' : 'html'}}</a>
    </p>

    <div class="container">
      <div e50-toolbars buttons="buttons"></div>
      <div class="template" e50-template ng-model="tplHtml" buttons="buttons" ng-show="!showHtml"></div>
      <textarea ng-model="tplHtml" ng-show="showHtml"></textarea>
    </div>
  </div>

  <script src="http://localhost:1337/livereload.js"></script>

</body>
</html>