<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>E50 Editor</title>
  
  <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="styles/demo.css"/>
  
  <script src="../bower_components/jquery/dist/jquery.js"></script>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/rangy/rangy-core.js"></script>
  <script src="../bower_components/rangy/rangy-selectionsaverestore.js"></script>
  <script src="../bower_components/text-angular-iframe/src/textAngular.js"></script>
  <script src="../bower_components/text-angular-iframe/src/textAngularSetup.js"></script>
  <script src="../bower_components/text-angular-iframe/src/textAngular-sanitize.js"></script>
  
  <script src="../dist/e50-editor.js"></script>

  <script src="js/main.js"></script>
</head>
<body ng-app="app">

  <div ng-controller="MainCtrl">

    <div class="container btns clearfix">
        <button type="button" ng-click="showHtml=!showHtml" class="toggle">Show {{showHtml ? 'live' : 'html'}}</button>
        <div e50-toolbars buttons="buttons" iframe-id="iframeId" ng-if="iframeLoaded"></div>
    </div>

    <div class="container">
      <!--<div e50-editor ng-model="tplHtml" toggle="showHtml"></div>-->
      <div e50-iframe="{{iframeId}}" ng-model="tplHtml" toggle="showHtml" override="true" buttons="buttons"></div>
    </div>

  </div>

  <script src="http://localhost:1339/livereload.js"></script>

</body>
</html>